/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body,
#react-root {
  width: 100%;
  height: 100%;
  font-family: 'Rouge Script', cursive;
  color: #e9e9f0 !important;
  background-color: #110e25;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

a {
  color: #4033a3;
}

p {
  margin: 15px 0;
}

img {
  padding: 5px;
}

.white {
  color: #e9e9f0 !important;
}

.gold {
  color: #c7bd75 !important;
}

.navy {
  color: #110e25 !important;
}

.navy-to-white {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(233, 233, 240, 1) 60%,
    rgba(17, 14, 37, 1) 100%
  ) !important;
}

.medium {
  margin: 10px 0;
}

.serif {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
